<%= XeroUtil.error if XeroUtil.error %>
<table>
    <caption>Xero Chart of Accounts</caption>
    <% @result.each do |a| %>
        <tr>
             <td><%= a.code %></td>
             <td><%= a.name %></td>
             <td><%= a.type %></td>
             <td><%= a.account_id %></td>
        </tr>
    <% end %>
</table>